<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bdMap">

	<!-- 해당하는 조건의 Board List 조회 -->
	<select id="listVOBoard" statementType="PREPARED" parameterType="Map" resultType="BoardVO">
		select
			SEQNO,
			TITLE,
			REG_ID,
			date_format(REG_DATE, '%Y. %m. %d') as "REG_DATE",
			VISIT
				from BIBIMBAB.T_BOARD
					where DEL_YN = "N"
					<if test="searchType == 'TITLE' and searchText != '' and searchText != null">
				    	and TITLE like CONCAT('%',${searchText},'%')
				    </if>
					<if test="searchType == 'CONTENTS' and searchText != '' and searchText != null">
				    	and CONTENTS like CONCAT('%',${searchText},'%')
				    </if>
							limit ${startNO}, 10
	</select>

	<!-- 선택한 Board 정보를 조회 -->
	<select id="selectBoard" statementType="PREPARED" parameterType="String" resultType="BoardVO">
		select
			SEQNO,
			TITLE,
			CONTENTS,
			REG_ID,
			date_format(REG_DATE, '%Y. %m. %d') as "REG_DATE",
			VISIT,
			SECRET_NO
				from BIBIMBAB.T_BOARD
					where SEQNO = ${value}
	</select>

	<insert id="insertBoard" statementType="PREPARED" parameterType="BoardVO">
		insert into BIBIMBAB.T_BOARD (
				TITLE,
				CONTENTS,
				REG_ID,
				SECRET_NO
			) values (
				'#{TITLE}',
				'#{CONTENTS}',
				'#{REG_ID}',
				'#{SECRET_NO}'
			)
	</insert>
	
	<update id="updateBoard" statementType="PREPARED" parameterType="BoardVO">
		update BIBIMBAB.T_BOARD set(
				TITLE = #{TITLE},
				CONTENTS = #{CONTENTS}
			) where SEQNO = #{SEQNO}
	</update>

	<update id="deleteBoard" statementType="PREPARED" parameterType="java.lang.String">
		update BIBIMBAB.T_BOARD set (
				DEL_YN = "Y"
			)	where SEQNO = #{SEQNO}
	</update>

	<!-- List - 해당하는 조건의 Board 갯수를 Count -->
	<select id="selectBoardSeqnoCount" statementType="PREPARED" parameterType="Map" resultType="String">
		select count(SEQNO) from BIBIMBAB.T_BOARD
			where DEL_YN = "N"
			<if test="searchType == 'TITLE' and searchText != '' and searchText != null">
		    	and TITLE like '%'||${searchText}||'%'
		    </if>
			<if test="searchType == 'CONTENTS' and searchText != '' and searchText != null">
		    	and CONTENTS like '%'||${searchText}||'%'
		    </if>
		    <if test="searchType == 'ALL' and searchText != '' and searchText != null">
		    	and (TITLE like '%'||${searchText}||'%' or CONTENTS like '%'||${searchText}||'%')
		    </if>  
	</select>

	<!-- View - 선택한 Board 정보에 조회수 증가 -->
	<update id="updateBoardVisitPlus" statementType="PREPARED" parameterType="String">
		update BIBIMBAB.T_BOARD set
			VISIT = VISIT + 1
				where SEQNO = ${value}
	</update>
</mapper>